.post-container {
    width: 100%;
    background-color: #ecf0f1;
    display: block;
    position: relative;
    padding-left: 20px;
    vertical-align: top;
    display: inline-block;
}

.post-container__item {
    width: 75%;
    padding: .5em 1em;
    line-height: 1.4em;
    margin: 20px;
    background-color: white;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
}

.post-container__item:hover > .item-overlay {
    opacity: 1;
}

.post-container__item > h3 {
    font-size: 18px;
    color: #95a5a6;
}

.post-container__item > h3 > span {
    font-size: 12px;
}