.post-container {
    width: 100%;
    background-color: #ecf0f1;
    display: block;
    position: relative;
    padding-left: 20px;
    vertical-align: top;
    display: inline-block;
}

.post-container__item {
    width: 75%;
    padding: .5em 1em;
    line-height: 1.4em;
    margin: 20px;
    background-color: white;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
}

.post-container__item:hover > .post-container__item-overlay {
        opacity: 1;
    }

.post-container__item > h3 {
    font-size: 18px;
    color: #95a5a6;
}

.post-container__item > h3 > span {
    font-size: 12px;
}

.post-container__item-overlay {
    padding: 10px;
    line-height: 1.4em;
    background-color: rgba(236, 240, 241, 0.8);
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    position: absolute !important;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    font-size: 40px;
    text-shadow: white 1px 1px 0;
}

.post-container__item-overlay > div {
    float: left;
    width: 45%;
    margin-right: .3em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.post-container__item-overlay > div > .fas {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}

.post-unliked{
    color: grey;
}

.post-liked{
    color: red;
}

.post-container__item-likes {
    color: grey;
    font-size: 12px;
}