@model SocialNetwork.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <!-- Form to post a status update -->
            @using (Html.BeginForm("StatusPost", "Status", FormMethod.Post))
            {
                @Html.LabelFor(m => m.Post.Content)
                @Html.TextBoxFor(m => m.Post.Content)
                <input type="submit" value="Post Update" />
            }
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>